<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-javascript" role="menuitem"><a href="{{site.baseurl}}tag/javascript/">Javascript</a></li>
    <li class="nav-cloud" role="menuitem"><a href="{{site.baseurl}}tag/cloud/">Cloud</a></li>
    <li class="nav-spring" role="menuitem"><a href="{{site.baseurl}}tag/spring/">Spring</a></li>
    <li class="nav-algorithm" role="menuitem"><a href="{{site.baseurl}}tag/algorithm/">Algorithm</a></li>
    <li class="nav-etc" role="menuitem"><a href="{{site.baseurl}}tag/etc/">ETC</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>